MapAppGit/MapAppGit.xcodeproj/project.xcworkspace/xcshareddata/MapAppGit.xccheckout
MapAppGit/MapAppGit.xcodeproj/xcuserdata/dmitry.xcuserdatad/xcschemes/MapAppGit.xcscheme
MapAppGit/MapAppGit.xcodeproj/xcuserdata/dmitry.xcuserdatad/xcschemes/xcschememanagement.plist
